@import '../../../../sass/GlobalVariables/variables';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  gap: $margin;
  padding: calc(#{$padding} * 1.5) calc(#{$padding} * 3);
  border: none;
  border-top-left-radius: $margin;
  background-color: $bg_contrast;
  cursor: pointer;
  transition: color .2s, background-color .2s;
  
  &:hover {
    background-color: $bg_secondary_2;
    color: $bg_contrast;
  }
}
