$bg_primary: rgb(17, 17, 17);
$bg_secondary: rgba(0, 0, 0, 0.75);
$bg_secondary_2: rgba(84, 170, 255, 0.75);
$bg_contrast: rgba(255, 255, 255, 0.75);
$bg_success: #007d1e;
$margin: 8px;
$padding: 8px;
$border_radius: 8px;
$grid_unit: 4px;
